<a href="https://colab.research.google.com/github/pushyag1/Projects/blob/main/Pyspark_setup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PYSPARK SETUP

#https://www.analyticsvidhya.com/blog/2020/11/a-must-read-guide-on-how-to-work-with-pyspark-on-google-colab-for-data-scientists/

input valiables for user input= only this variable should calculate the whole thing

model year= 2021
model verson= v22,etc
date to calculate age by = Any date
sex and age edits required or not (Y,N) **bold text**

# **Running Pyspark in Colab**

To run spark in Colab, we need to first install all the dependencies in Colab environment i.e. Apache Spark 2.3.2 with hadoop 2.7, Java 8 and Findspark to locate the spark in the system. The tools installation can be carried out inside the Jupyter Notebook of the Colab. One important note is that if you are new in Spark, it is better to avoid Spark 2.4.0 version since some people have already complained about its compatibility issue with python. 
Follow the steps to install the dependencies:

In [ ]:
!apt-get update

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:9 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:11 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [53.9 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:16 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [15.9 kB]
Ign:17 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:17 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [742 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,759 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,410 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,546 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [900 kB]
Get:22 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [396 kB]
Get:23 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,116 kB]
Get:24 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [24.7 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [31.6 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,181 kB]
Get:27 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [426 kB]
Get:28 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [53.2 kB]
Fetched 12.9 MB in 3s (3,766 kB/s)
Reading package lists... Done

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget -q https://www-us.apache.org/dist/spark/spark-3.0.2/spark-3.0.2-bin-hadoop2.7.tgz

In [ ]:
!tar xf spark-3.0.2-bin-hadoop2.7.tgz

In [ ]:
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.2-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()

In [ ]:
findspark.find()

'/content/spark-3.0.2-bin-hadoop2.7'

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [ ]:
spark

In [ ]:
#loading libraries
import pandas
import os
import pyspark.sql.functions as func

In [ ]:
Date_to_calculate_age = '2021-02-01' #@param {type:"date"}
Choose_a_model_version = 'V24' #@param ["V22","V24", "RX", "ESRD-P1","ESRD-P2"]
Choose_a_model_year = '2021' #@param ["2020","2021"]
Sex_Age_edits_required = 'Yes' #@param ["Yes","No"]

**Please us the dataframe only for future codes- donot override below age calulation cells**
**Himanshu**

In [ ]:
#Loading Data
#sdf2 = pandas.read_excel ("/content/sample_data/Correct_Demography_Variable_Calculated_2021.xlsx")

sdf2 = pandas.read_excel ("/content/sample_data/Correct_Demography_Variable_Calculated_2021.xlsx")

sdf2 = spark.createDataFrame(sdf2)
sdf2.show()
#To See columns or Features names

FileNotFoundError: ignored

from pyspark.sql.functions import struct

from pyspark.sql.types import IntegerType
from pyspark.sql.functions import udf

def func(Age, OREC):
  if Age == 64 and OREC == 0:
    return 65
  elif Age < 0 :
    return 0
  return Age

func_udf = udf(func, IntegerType())
df = sdf2.withColumn('new_column',func_udf(sdf2['Age'], sdf2['OREC']))
df

In [ ]:
sdf3=sdf2.withColumn("Age",(datediff(to_date(lit("2021-02-01")),to_date("DOB","yyyy/MM/dd")))/366)

NameError: ignored

In [ ]:
sdf3.show()

+----------+---------+-------------------+------+----+--------+-------+----+-----+-------------------+--------+-----------------+
|Unnamed: 0|Person ID|                DOB|Gender|OREC|LTIMCAID|NEMCAID|ESRD|MCAID|         MODEL_YEAR|Age 2021|              Age|
+----------+---------+-------------------+------+----+--------+-------+----+-----+-------------------+--------+-----------------+
|         0| 95307787|1944-03-23 00:00:00|     1|   0|       1|      0|   1|    1|2021-02-01 00:00:00|      77|76.70491803278688|
|         1| 67928991|1930-05-29 00:00:00|     2|   0|       1|      0|   0|    1|2021-02-01 00:00:00|      91|90.49453551912568|
|         2|124623786|1948-07-30 00:00:00|     1|   0|       1|      0|   0|    0|2021-02-01 00:00:00|      73|72.36065573770492|
|         3| 73717666|1935-06-12 00:00:00|     2|   0|       1|      0|   0|    1|2021-02-01 00:00:00|      86| 85.4672131147541|
|         4|111693065|1927-05-03 00:00:00|     2|   0|       1|      0|   0|    0|2021-02-01 00:00:00|      94|93.56010928961749|
|         5|120898337|1930-11-02 00:00:00|     2|   0|       1|      0|   1|    0|2021-02-01 00:00:00|      90|90.06557377049181|
|         6|124116805|1933-02-14 00:00:00|     2|   0|       1|      0|   1|    0|2021-02-01 00:00:00|      88|87.78415300546447|
|         7| 14464261|1962-07-27 00:00:00|     2|   1|       1|      0|   1|    1|2021-02-01 00:00:00|      59|58.39890710382514|
|         8| 59011425|1929-06-10 00:00:00|     1|   0|       1|      0|   1|    1|2021-02-01 00:00:00|      92|91.45901639344262|
|         9|155756563|1927-07-25 00:00:00|     2|   0|       1|      0|   0|    1|2021-02-01 00:00:00|      94|93.33333333333333|
|        10| 24692817|1940-10-11 00:00:00|     2|   0|       1|      0|   0|    0|2021-02-01 00:00:00|      80|80.14480874316939|
|        11| 30440111|1949-05-29 00:00:00|     1|   0|       1|      0|   0|    1|2021-02-01 00:00:00|      72| 71.5327868852459|
|        12|  3281681|1927-07-22 00:00:00|     2|   0|       1|      0|   0|    0|2021-02-01 00:00:00|      94| 93.3415300546448|
|        13| 11474346|1953-03-29 00:00:00|     2|   0|       1|      0|   1|    0|2021-02-01 00:00:00|      68|67.70765027322405|
|        14|133798923|1934-01-24 00:00:00|     1|   0|       1|      0|   1|    0|2021-02-01 00:00:00|      87|86.84426229508196|
|        15|119899350|1936-09-19 00:00:00|     2|   0|       1|      0|   1|    1|2021-02-01 00:00:00|      84|84.19672131147541|
|        16|  5934555|1921-12-24 00:00:00|     1|   0|       1|      0|   1|    1|2021-02-01 00:00:00|      99|98.90437158469945|
|        17| 57312531|1955-02-08 00:00:00|     1|   0|       1|      0|   0|    1|2021-02-01 00:00:00|      66|65.84699453551913|
|        18|  6941119|1934-11-09 00:00:00|     1|   0|       1|      0|   0|    0|2021-02-01 00:00:00|      86|86.05464480874316|
|        19| 95237592|1943-04-17 00:00:00|     1|   0|       1|      0|   0|    1|2021-02-01 00:00:00|      78|77.63661202185793|
+----------+---------+-------------------+------+----+--------+-------+----+-----+-------------------+--------+-----------------+
only showing top 20 rows

In [ ]:
#Calculating only Decimal Vlaues
sdf4 = sdf3.withColumn("Age", func.round(sdf3["Age"], 2).cast('integer'))
sdf4.show()

+----------+---------+-------------------+------+----+--------+-------+----+-----+-------------------+--------+---+
|Unnamed: 0|Person ID|                DOB|Gender|OREC|LTIMCAID|NEMCAID|ESRD|MCAID|         MODEL_YEAR|Age 2021|Age|
+----------+---------+-------------------+------+----+--------+-------+----+-----+-------------------+--------+---+
|         0| 95307787|1944-03-23 00:00:00|     1|   0|       1|      0|   1|    1|2021-02-01 00:00:00|      77| 76|
|         1| 67928991|1930-05-29 00:00:00|     2|   0|       1|      0|   0|    1|2021-02-01 00:00:00|      91| 90|
|         2|124623786|1948-07-30 00:00:00|     1|   0|       1|      0|   0|    0|2021-02-01 00:00:00|      73| 72|
|         3| 73717666|1935-06-12 00:00:00|     2|   0|       1|      0|   0|    1|2021-02-01 00:00:00|      86| 85|
|         4|111693065|1927-05-03 00:00:00|     2|   0|       1|      0|   0|    0|2021-02-01 00:00:00|      94| 93|
|         5|120898337|1930-11-02 00:00:00|     2|   0|       1|      0|   1|    0|2021-02-01 00:00:00|      90| 90|
|         6|124116805|1933-02-14 00:00:00|     2|   0|       1|      0|   1|    0|2021-02-01 00:00:00|      88| 87|
|         7| 14464261|1962-07-27 00:00:00|     2|   1|       1|      0|   1|    1|2021-02-01 00:00:00|      59| 58|
|         8| 59011425|1929-06-10 00:00:00|     1|   0|       1|      0|   1|    1|2021-02-01 00:00:00|      92| 91|
|         9|155756563|1927-07-25 00:00:00|     2|   0|       1|      0|   0|    1|2021-02-01 00:00:00|      94| 93|
|        10| 24692817|1940-10-11 00:00:00|     2|   0|       1|      0|   0|    0|2021-02-01 00:00:00|      80| 80|
|        11| 30440111|1949-05-29 00:00:00|     1|   0|       1|      0|   0|    1|2021-02-01 00:00:00|      72| 71|
|        12|  3281681|1927-07-22 00:00:00|     2|   0|       1|      0|   0|    0|2021-02-01 00:00:00|      94| 93|
|        13| 11474346|1953-03-29 00:00:00|     2|   0|       1|      0|   1|    0|2021-02-01 00:00:00|      68| 67|
|        14|133798923|1934-01-24 00:00:00|     1|   0|       1|      0|   1|    0|2021-02-01 00:00:00|      87| 86|
|        15|119899350|1936-09-19 00:00:00|     2|   0|       1|      0|   1|    1|2021-02-01 00:00:00|      84| 84|
|        16|  5934555|1921-12-24 00:00:00|     1|   0|       1|      0|   1|    1|2021-02-01 00:00:00|      99| 98|
|        17| 57312531|1955-02-08 00:00:00|     1|   0|       1|      0|   0|    1|2021-02-01 00:00:00|      66| 65|
|        18|  6941119|1934-11-09 00:00:00|     1|   0|       1|      0|   0|    0|2021-02-01 00:00:00|      86| 86|
|        19| 95237592|1943-04-17 00:00:00|     1|   0|       1|      0|   0|    1|2021-02-01 00:00:00|      78| 77|
+----------+---------+-------------------+------+----+--------+-------+----+-----+-------------------+--------+---+
only showing top 20 rows

In [ ]:
#Droping uneccessary columns

drop_list = [ 'Unnamed: 0',"Age 2021","","","","","","","","","",""]
sdf5=sdf4.select([column for column in sdf4.columns if column not in drop_list])
sdf5.show()

+---------+-------------------+------+----+--------+-------+----+-----+-------------------+---+
|Person ID|                DOB|Gender|OREC|LTIMCAID|NEMCAID|ESRD|MCAID|         MODEL_YEAR|Age|
+---------+-------------------+------+----+--------+-------+----+-----+-------------------+---+
| 95307787|1944-03-23 00:00:00|     1|   0|       1|      0|   1|    1|2021-02-01 00:00:00| 76|
| 67928991|1930-05-29 00:00:00|     2|   0|       1|      0|   0|    1|2021-02-01 00:00:00| 90|
|124623786|1948-07-30 00:00:00|     1|   0|       1|      0|   0|    0|2021-02-01 00:00:00| 72|
| 73717666|1935-06-12 00:00:00|     2|   0|       1|      0|   0|    1|2021-02-01 00:00:00| 85|
|111693065|1927-05-03 00:00:00|     2|   0|       1|      0|   0|    0|2021-02-01 00:00:00| 93|
|120898337|1930-11-02 00:00:00|     2|   0|       1|      0|   1|    0|2021-02-01 00:00:00| 90|
|124116805|1933-02-14 00:00:00|     2|   0|       1|      0|   1|    0|2021-02-01 00:00:00| 87|
| 14464261|1962-07-27 00:00:00|     2|   1|       1|      0|   1|    1|2021-02-01 00:00:00| 58|
| 59011425|1929-06-10 00:00:00|     1|   0|       1|      0|   1|    1|2021-02-01 00:00:00| 91|
|155756563|1927-07-25 00:00:00|     2|   0|       1|      0|   0|    1|2021-02-01 00:00:00| 93|
| 24692817|1940-10-11 00:00:00|     2|   0|       1|      0|   0|    0|2021-02-01 00:00:00| 80|
| 30440111|1949-05-29 00:00:00|     1|   0|       1|      0|   0|    1|2021-02-01 00:00:00| 71|
|  3281681|1927-07-22 00:00:00|     2|   0|       1|      0|   0|    0|2021-02-01 00:00:00| 93|
| 11474346|1953-03-29 00:00:00|     2|   0|       1|      0|   1|    0|2021-02-01 00:00:00| 67|
|133798923|1934-01-24 00:00:00|     1|   0|       1|      0|   1|    0|2021-02-01 00:00:00| 86|
|119899350|1936-09-19 00:00:00|     2|   0|       1|      0|   1|    1|2021-02-01 00:00:00| 84|
|  5934555|1921-12-24 00:00:00|     1|   0|       1|      0|   1|    1|2021-02-01 00:00:00| 98|
| 57312531|1955-02-08 00:00:00|     1|   0|       1|      0|   0|    1|2021-02-01 00:00:00| 65|
|  6941119|1934-11-09 00:00:00|     1|   0|       1|      0|   0|    0|2021-02-01 00:00:00| 86|
| 95237592|1943-04-17 00:00:00|     1|   0|       1|      0|   0|    1|2021-02-01 00:00:00| 77|
+---------+-------------------+------+----+--------+-------+----+-----+-------------------+---+
only showing top 20 rows

In [ ]:
df.show(18)

+---------+-------------------+------+----+--------+-------+----+-----+-------------------+---+----------+
|Person ID|                DOB|Gender|OREC|LTIMCAID|NEMCAID|ESRD|MCAID|         MODEL_YEAR|Age|new_column|
+---------+-------------------+------+----+--------+-------+----+-----+-------------------+---+----------+
| 95307787|1944-03-23 00:00:00|     1|   0|       1|      0|   1|    1|2021-02-01 00:00:00| 76|        76|
| 67928991|1930-05-29 00:00:00|     2|   0|       1|      0|   0|    1|2021-02-01 00:00:00| 90|        90|
|124623786|1948-07-30 00:00:00|     1|   0|       1|      0|   0|    0|2021-02-01 00:00:00| 72|        72|
| 73717666|1935-06-12 00:00:00|     2|   0|       1|      0|   0|    1|2021-02-01 00:00:00| 85|        85|
|111693065|1927-05-03 00:00:00|     2|   0|       1|      0|   0|    0|2021-02-01 00:00:00| 93|        93|
|120898337|1930-11-02 00:00:00|     2|   0|       1|      0|   1|    0|2021-02-01 00:00:00| 90|        90|
|124116805|1933-02-14 00:00:00|     2|   0|       1|      0|   1|    0|2021-02-01 00:00:00| 87|        87|
| 14464261|1962-07-27 00:00:00|     2|   1|       1|      0|   1|    1|2021-02-01 00:00:00| 58|        58|
| 59011425|1929-06-10 00:00:00|     1|   0|       1|      0|   1|    1|2021-02-01 00:00:00| 91|        91|
|155756563|1927-07-25 00:00:00|     2|   0|       1|      0|   0|    1|2021-02-01 00:00:00| 93|        93|
| 24692817|1940-10-11 00:00:00|     2|   0|       1|      0|   0|    0|2021-02-01 00:00:00| 80|        80|
| 30440111|1949-05-29 00:00:00|     1|   0|       1|      0|   0|    1|2021-02-01 00:00:00| 71|        71|
|  3281681|1927-07-22 00:00:00|     2|   0|       1|      0|   0|    0|2021-02-01 00:00:00| 93|        93|
| 11474346|1953-03-29 00:00:00|     2|   0|       1|      0|   1|    0|2021-02-01 00:00:00| 67|        67|
|133798923|1934-01-24 00:00:00|     1|   0|       1|      0|   1|    0|2021-02-01 00:00:00| 86|        86|
|119899350|1936-09-19 00:00:00|     2|   0|       1|      0|   1|    1|2021-02-01 00:00:00| 84|        84|
|  5934555|1921-12-24 00:00:00|     1|   0|       1|      0|   1|    1|2021-02-01 00:00:00| 98|        98|
| 57312531|1955-02-08 00:00:00|     1|   0|       1|      0|   0|    1|2021-02-01 00:00:00| 65|        65|
+---------+-------------------+------+----+--------+-------+----+-----+-------------------+---+----------+
only showing top 18 rows

For model 2020

In [ ]:
#sdf6 = pandas.read_excel ("/content/sample_data/Correct_Demography_Variable_Calculated_2020.xlsx")

sdf6 = pandas.read_excel ("/content/sample_data/Correct_Demography_Variable_Calculated_2020.xlsx")

sdf6 = spark.createDataFrame(sdf6)
sdf6.show()

+----------+---------+-------------------+------+----+--------+-------+----+-----+-------------------+--------+
|Unnamed: 0|Person ID|                DOB|Gender|OREC|LTIMCAID|NEMCAID|ESRD|MCAID|         MODEL_YEAR|Age 2020|
+----------+---------+-------------------+------+----+--------+-------+----+-----+-------------------+--------+
|         0| 95307787|1944-03-23 00:00:00|     1|   0|       1|      0|   1|    1|2020-02-01 00:00:00|      77|
|         1| 67928991|1930-05-29 00:00:00|     2|   0|       1|      0|   0|    1|2020-02-02 00:00:00|      91|
|         2|124623786|1948-07-30 00:00:00|     1|   0|       1|      0|   0|    0|2020-02-03 00:00:00|      73|
|         3| 73717666|1935-06-12 00:00:00|     2|   0|       1|      0|   0|    1|2020-02-04 00:00:00|      86|
|         4|111693065|1927-05-03 00:00:00|     2|   0|       1|      0|   0|    0|2020-02-05 00:00:00|      94|
|         5|120898337|1930-11-02 00:00:00|     2|   0|       1|      0|   1|    0|2020-02-06 00:00:00|      90|
|         6|124116805|1933-02-14 00:00:00|     2|   0|       1|      0|   1|    0|2020-02-07 00:00:00|      88|
|         7| 14464261|1962-07-27 00:00:00|     2|   1|       1|      0|   1|    1|2020-02-08 00:00:00|      59|
|         8| 59011425|1929-06-10 00:00:00|     1|   0|       1|      0|   1|    1|2020-02-09 00:00:00|      92|
|         9|155756563|1927-07-25 00:00:00|     2|   0|       1|      0|   0|    1|2020-02-10 00:00:00|      94|
|        10| 24692817|1940-10-11 00:00:00|     2|   0|       1|      0|   0|    0|2020-02-11 00:00:00|      80|
|        11| 30440111|1949-05-29 00:00:00|     1|   0|       1|      0|   0|    1|2020-02-12 00:00:00|      72|
|        12|  3281681|1927-07-22 00:00:00|     2|   0|       1|      0|   0|    0|2020-02-13 00:00:00|      94|
|        13| 11474346|1953-03-29 00:00:00|     2|   0|       1|      0|   1|    0|2020-02-14 00:00:00|      68|
|        14|133798923|1934-01-24 00:00:00|     1|   0|       1|      0|   1|    0|2020-02-15 00:00:00|      87|
|        15|119899350|1936-09-19 00:00:00|     2|   0|       1|      0|   1|    1|2020-02-16 00:00:00|      84|
|        16|  5934555|1921-12-24 00:00:00|     1|   0|       1|      0|   1|    1|2020-02-17 00:00:00|      99|
|        17| 57312531|1955-02-08 00:00:00|     1|   0|       1|      0|   0|    1|2020-02-18 00:00:00|      66|
|        18|  6941119|1934-11-09 00:00:00|     1|   0|       1|      0|   0|    0|2020-02-19 00:00:00|      86|
|        19| 95237592|1943-04-17 00:00:00|     1|   0|       1|      0|   0|    1|2020-02-20 00:00:00|      78|
+----------+---------+-------------------+------+----+--------+-------+----+-----+-------------------+--------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import datediff, to_date, lit

sdf7=sdf6.withColumn("Age",(datediff(to_date(lit("2020-02-01")),to_date("DOB","yyyy/MM/dd")))/366)
sdf7.show()

+----------+---------+-------------------+------+----+--------+-------+----+-----+-------------------+--------+-----------------+
|Unnamed: 0|Person ID|                DOB|Gender|OREC|LTIMCAID|NEMCAID|ESRD|MCAID|         MODEL_YEAR|Age 2020|              Age|
+----------+---------+-------------------+------+----+--------+-------+----+-----+-------------------+--------+-----------------+
|         0| 95307787|1944-03-23 00:00:00|     1|   0|       1|      0|   1|    1|2020-02-01 00:00:00|      77|75.70491803278688|
|         1| 67928991|1930-05-29 00:00:00|     2|   0|       1|      0|   0|    1|2020-02-02 00:00:00|      91|89.49453551912568|
|         2|124623786|1948-07-30 00:00:00|     1|   0|       1|      0|   0|    0|2020-02-03 00:00:00|      73|71.36065573770492|
|         3| 73717666|1935-06-12 00:00:00|     2|   0|       1|      0|   0|    1|2020-02-04 00:00:00|      86| 84.4672131147541|
|         4|111693065|1927-05-03 00:00:00|     2|   0|       1|      0|   0|    0|2020-02-05 00:00:00|      94|92.56010928961749|
|         5|120898337|1930-11-02 00:00:00|     2|   0|       1|      0|   1|    0|2020-02-06 00:00:00|      90|89.06557377049181|
|         6|124116805|1933-02-14 00:00:00|     2|   0|       1|      0|   1|    0|2020-02-07 00:00:00|      88|86.78415300546447|
|         7| 14464261|1962-07-27 00:00:00|     2|   1|       1|      0|   1|    1|2020-02-08 00:00:00|      59|57.39890710382514|
|         8| 59011425|1929-06-10 00:00:00|     1|   0|       1|      0|   1|    1|2020-02-09 00:00:00|      92|90.45901639344262|
|         9|155756563|1927-07-25 00:00:00|     2|   0|       1|      0|   0|    1|2020-02-10 00:00:00|      94|92.33333333333333|
|        10| 24692817|1940-10-11 00:00:00|     2|   0|       1|      0|   0|    0|2020-02-11 00:00:00|      80|79.14480874316939|
|        11| 30440111|1949-05-29 00:00:00|     1|   0|       1|      0|   0|    1|2020-02-12 00:00:00|      72| 70.5327868852459|
|        12|  3281681|1927-07-22 00:00:00|     2|   0|       1|      0|   0|    0|2020-02-13 00:00:00|      94| 92.3415300546448|
|        13| 11474346|1953-03-29 00:00:00|     2|   0|       1|      0|   1|    0|2020-02-14 00:00:00|      68|66.70765027322405|
|        14|133798923|1934-01-24 00:00:00|     1|   0|       1|      0|   1|    0|2020-02-15 00:00:00|      87|85.84426229508196|
|        15|119899350|1936-09-19 00:00:00|     2|   0|       1|      0|   1|    1|2020-02-16 00:00:00|      84|83.19672131147541|
|        16|  5934555|1921-12-24 00:00:00|     1|   0|       1|      0|   1|    1|2020-02-17 00:00:00|      99|97.90437158469945|
|        17| 57312531|1955-02-08 00:00:00|     1|   0|       1|      0|   0|    1|2020-02-18 00:00:00|      66|64.84699453551913|
|        18|  6941119|1934-11-09 00:00:00|     1|   0|       1|      0|   0|    0|2020-02-19 00:00:00|      86|85.05464480874316|
|        19| 95237592|1943-04-17 00:00:00|     1|   0|       1|      0|   0|    1|2020-02-20 00:00:00|      78|76.63661202185793|
+----------+---------+-------------------+------+----+--------+-------+----+-----+-------------------+--------+-----------------+
only showing top 20 rows

In [ ]:
#Calculating only Decimal Vlaues
sdf8 = sdf7.withColumn("Age", func.round(sdf7["Age"], 2).cast('integer'))
sdf8.show()

+----------+---------+-------------------+------+----+--------+-------+----+-----+-------------------+--------+---+
|Unnamed: 0|Person ID|                DOB|Gender|OREC|LTIMCAID|NEMCAID|ESRD|MCAID|         MODEL_YEAR|Age 2020|Age|
+----------+---------+-------------------+------+----+--------+-------+----+-----+-------------------+--------+---+
|         0| 95307787|1944-03-23 00:00:00|     1|   0|       1|      0|   1|    1|2020-02-01 00:00:00|      77| 75|
|         1| 67928991|1930-05-29 00:00:00|     2|   0|       1|      0|   0|    1|2020-02-02 00:00:00|      91| 89|
|         2|124623786|1948-07-30 00:00:00|     1|   0|       1|      0|   0|    0|2020-02-03 00:00:00|      73| 71|
|         3| 73717666|1935-06-12 00:00:00|     2|   0|       1|      0|   0|    1|2020-02-04 00:00:00|      86| 84|
|         4|111693065|1927-05-03 00:00:00|     2|   0|       1|      0|   0|    0|2020-02-05 00:00:00|      94| 92|
|         5|120898337|1930-11-02 00:00:00|     2|   0|       1|      0|   1|    0|2020-02-06 00:00:00|      90| 89|
|         6|124116805|1933-02-14 00:00:00|     2|   0|       1|      0|   1|    0|2020-02-07 00:00:00|      88| 86|
|         7| 14464261|1962-07-27 00:00:00|     2|   1|       1|      0|   1|    1|2020-02-08 00:00:00|      59| 57|
|         8| 59011425|1929-06-10 00:00:00|     1|   0|       1|      0|   1|    1|2020-02-09 00:00:00|      92| 90|
|         9|155756563|1927-07-25 00:00:00|     2|   0|       1|      0|   0|    1|2020-02-10 00:00:00|      94| 92|
|        10| 24692817|1940-10-11 00:00:00|     2|   0|       1|      0|   0|    0|2020-02-11 00:00:00|      80| 79|
|        11| 30440111|1949-05-29 00:00:00|     1|   0|       1|      0|   0|    1|2020-02-12 00:00:00|      72| 70|
|        12|  3281681|1927-07-22 00:00:00|     2|   0|       1|      0|   0|    0|2020-02-13 00:00:00|      94| 92|
|        13| 11474346|1953-03-29 00:00:00|     2|   0|       1|      0|   1|    0|2020-02-14 00:00:00|      68| 66|
|        14|133798923|1934-01-24 00:00:00|     1|   0|       1|      0|   1|    0|2020-02-15 00:00:00|      87| 85|
|        15|119899350|1936-09-19 00:00:00|     2|   0|       1|      0|   1|    1|2020-02-16 00:00:00|      84| 83|
|        16|  5934555|1921-12-24 00:00:00|     1|   0|       1|      0|   1|    1|2020-02-17 00:00:00|      99| 97|
|        17| 57312531|1955-02-08 00:00:00|     1|   0|       1|      0|   0|    1|2020-02-18 00:00:00|      66| 64|
|        18|  6941119|1934-11-09 00:00:00|     1|   0|       1|      0|   0|    0|2020-02-19 00:00:00|      86| 85|
|        19| 95237592|1943-04-17 00:00:00|     1|   0|       1|      0|   0|    1|2020-02-20 00:00:00|      78| 76|
+----------+---------+-------------------+------+----+--------+-------+----+-----+-------------------+--------+---+
only showing top 20 rows

In [ ]:
#Droping uneccessary columns

drop_list = [ 'Unnamed: 0',"Age 2020","","","","","","","","","",""]
sdf9=sdf8.select([column for column in sdf8.columns if column not in drop_list])
sdf9.show()

+---------+-------------------+------+----+--------+-------+----+-----+-------------------+---+
|Person ID|                DOB|Gender|OREC|LTIMCAID|NEMCAID|ESRD|MCAID|         MODEL_YEAR|Age|
+---------+-------------------+------+----+--------+-------+----+-----+-------------------+---+
| 95307787|1944-03-23 00:00:00|     1|   0|       1|      0|   1|    1|2020-02-01 00:00:00| 75|
| 67928991|1930-05-29 00:00:00|     2|   0|       1|      0|   0|    1|2020-02-02 00:00:00| 89|
|124623786|1948-07-30 00:00:00|     1|   0|       1|      0|   0|    0|2020-02-03 00:00:00| 71|
| 73717666|1935-06-12 00:00:00|     2|   0|       1|      0|   0|    1|2020-02-04 00:00:00| 84|
|111693065|1927-05-03 00:00:00|     2|   0|       1|      0|   0|    0|2020-02-05 00:00:00| 92|
|120898337|1930-11-02 00:00:00|     2|   0|       1|      0|   1|    0|2020-02-06 00:00:00| 89|
|124116805|1933-02-14 00:00:00|     2|   0|       1|      0|   1|    0|2020-02-07 00:00:00| 86|
| 14464261|1962-07-27 00:00:00|     2|   1|       1|      0|   1|    1|2020-02-08 00:00:00| 57|
| 59011425|1929-06-10 00:00:00|     1|   0|       1|      0|   1|    1|2020-02-09 00:00:00| 90|
|155756563|1927-07-25 00:00:00|     2|   0|       1|      0|   0|    1|2020-02-10 00:00:00| 92|
| 24692817|1940-10-11 00:00:00|     2|   0|       1|      0|   0|    0|2020-02-11 00:00:00| 79|
| 30440111|1949-05-29 00:00:00|     1|   0|       1|      0|   0|    1|2020-02-12 00:00:00| 70|
|  3281681|1927-07-22 00:00:00|     2|   0|       1|      0|   0|    0|2020-02-13 00:00:00| 92|
| 11474346|1953-03-29 00:00:00|     2|   0|       1|      0|   1|    0|2020-02-14 00:00:00| 66|
|133798923|1934-01-24 00:00:00|     1|   0|       1|      0|   1|    0|2020-02-15 00:00:00| 85|
|119899350|1936-09-19 00:00:00|     2|   0|       1|      0|   1|    1|2020-02-16 00:00:00| 83|
|  5934555|1921-12-24 00:00:00|     1|   0|       1|      0|   1|    1|2020-02-17 00:00:00| 97|
| 57312531|1955-02-08 00:00:00|     1|   0|       1|      0|   0|    1|2020-02-18 00:00:00| 64|
|  6941119|1934-11-09 00:00:00|     1|   0|       1|      0|   0|    0|2020-02-19 00:00:00| 85|
| 95237592|1943-04-17 00:00:00|     1|   0|       1|      0|   0|    1|2020-02-20 00:00:00| 76|
+---------+-------------------+------+----+--------+-------+----+-----+-------------------+---+
only showing top 20 rows

In [ ]:
#Merging columns - Final Dataframe for Age Module
from functools import reduce  # For Python 3.x
from pyspark.sql import DataFrame

def unionAll(*dfs):
    return reduce(DataFrame.unionAll, dfs)

df=unionAll(sdf9, sdf5)
# MODEL_YEAR

In [ ]:
df.show()

+---------+-------------------+------+----+--------+-------+----+-----+-------------------+---+
|Person ID|                DOB|Gender|OREC|LTIMCAID|NEMCAID|ESRD|MCAID|         MODEL_YEAR|Age|
+---------+-------------------+------+----+--------+-------+----+-----+-------------------+---+
| 95307787|1944-03-23 00:00:00|     1|   0|       1|      0|   1|    1|2020-02-01 00:00:00| 75|
| 67928991|1930-05-29 00:00:00|     2|   0|       1|      0|   0|    1|2020-02-02 00:00:00| 89|
|124623786|1948-07-30 00:00:00|     1|   0|       1|      0|   0|    0|2020-02-03 00:00:00| 71|
| 73717666|1935-06-12 00:00:00|     2|   0|       1|      0|   0|    1|2020-02-04 00:00:00| 84|
|111693065|1927-05-03 00:00:00|     2|   0|       1|      0|   0|    0|2020-02-05 00:00:00| 92|
|120898337|1930-11-02 00:00:00|     2|   0|       1|      0|   1|    0|2020-02-06 00:00:00| 89|
|124116805|1933-02-14 00:00:00|     2|   0|       1|      0|   1|    0|2020-02-07 00:00:00| 86|
| 14464261|1962-07-27 00:00:00|     2|   1|       1|      0|   1|    1|2020-02-08 00:00:00| 57|
| 59011425|1929-06-10 00:00:00|     1|   0|       1|      0|   1|    1|2020-02-09 00:00:00| 90|
|155756563|1927-07-25 00:00:00|     2|   0|       1|      0|   0|    1|2020-02-10 00:00:00| 92|
| 24692817|1940-10-11 00:00:00|     2|   0|       1|      0|   0|    0|2020-02-11 00:00:00| 79|
| 30440111|1949-05-29 00:00:00|     1|   0|       1|      0|   0|    1|2020-02-12 00:00:00| 70|
|  3281681|1927-07-22 00:00:00|     2|   0|       1|      0|   0|    0|2020-02-13 00:00:00| 92|
| 11474346|1953-03-29 00:00:00|     2|   0|       1|      0|   1|    0|2020-02-14 00:00:00| 66|
|133798923|1934-01-24 00:00:00|     1|   0|       1|      0|   1|    0|2020-02-15 00:00:00| 85|
|119899350|1936-09-19 00:00:00|     2|   0|       1|      0|   1|    1|2020-02-16 00:00:00| 83|
|  5934555|1921-12-24 00:00:00|     1|   0|       1|      0|   1|    1|2020-02-17 00:00:00| 97|
| 57312531|1955-02-08 00:00:00|     1|   0|       1|      0|   0|    1|2020-02-18 00:00:00| 64|
|  6941119|1934-11-09 00:00:00|     1|   0|       1|      0|   0|    0|2020-02-19 00:00:00| 85|
| 95237592|1943-04-17 00:00:00|     1|   0|       1|      0|   0|    1|2020-02-20 00:00:00| 76|
+---------+-------------------+------+----+--------+-------+----+-----+-------------------+---+
only showing top 20 rows

In [ ]:
df_Final1=df.sort("Person ID").show(truncate=False)

+---------+-------------------+------+----+--------+-------+----+-----+-------------------+---+
|Person ID|DOB                |Gender|OREC|LTIMCAID|NEMCAID|ESRD|MCAID|MODEL_YEAR         |Age|
+---------+-------------------+------+----+--------+-------+----+-----+-------------------+---+
|1049180  |1937-07-31 00:00:00|1     |0   |1       |0      |1   |0    |2020-05-13 00:00:00|82 |
|1049180  |1937-07-31 00:00:00|1     |0   |1       |0      |1   |0    |2021-02-01 00:00:00|83 |
|1393478  |1938-03-12 00:00:00|2     |0   |1       |0      |1   |1    |2020-05-22 00:00:00|81 |
|1393478  |1938-03-12 00:00:00|2     |0   |1       |0      |1   |1    |2021-02-01 00:00:00|82 |
|2180921  |1951-01-21 00:00:00|1     |0   |1       |0      |0   |0    |2021-02-01 00:00:00|69 |
|2180921  |1951-01-21 00:00:00|1     |0   |1       |0      |0   |0    |2020-12-31 00:00:00|68 |
|2660169  |1943-05-20 00:00:00|1     |0   |1       |0      |1   |1    |2020-08-26 00:00:00|76 |
|2660169  |1943-05-20 00:00:00|1     |0   |1       |0      |1   |1    |2021-02-01 00:00:00|77 |
|2693705  |1977-07-26 00:00:00|2     |1   |1       |0      |1   |0    |2020-06-14 00:00:00|42 |
|2693705  |1977-07-26 00:00:00|2     |1   |1       |0      |1   |0    |2021-02-01 00:00:00|43 |
|2794680  |1946-01-20 00:00:00|1     |0   |1       |0      |0   |1    |2020-10-31 00:00:00|73 |
|2794680  |1946-01-20 00:00:00|1     |0   |1       |0      |0   |1    |2021-02-01 00:00:00|74 |
|3281681  |1927-07-22 00:00:00|2     |0   |1       |0      |0   |0    |2020-02-13 00:00:00|92 |
|3281681  |1927-07-22 00:00:00|2     |0   |1       |0      |0   |0    |2021-02-01 00:00:00|93 |
|3384119  |1943-09-22 00:00:00|2     |0   |1       |0      |1   |1    |2021-02-01 00:00:00|77 |
|3384119  |1943-09-22 00:00:00|2     |0   |1       |0      |1   |1    |2020-03-03 00:00:00|76 |
|4538476  |1996-12-16 00:00:00|2     |1   |1       |0      |1   |1    |2021-02-01 00:00:00|24 |
|4538476  |1996-12-16 00:00:00|2     |1   |1       |0      |1   |1    |2020-12-31 00:00:00|23 |
|4749967  |1948-09-07 00:00:00|1     |0   |1       |0      |1   |0    |2020-12-31 00:00:00|71 |
|4749967  |1948-09-07 00:00:00|1     |0   |1       |0      |1   |0    |2021-02-01 00:00:00|72 |
+---------+-------------------+------+----+--------+-------+----+-----+-------------------+---+
only showing top 20 rows

Himanshu:
Can you please add the following condition to the age calculation:

1.	If the age calculated = 64 and OREC = 0, then age = 65

2.	If age calculated < 0  then age = 0

OREC is one of the fields in the Person input file.

Regards,
Santhosh

In [ ]:
from pyspark.sql.functions import struct

from pyspark.sql.types import IntegerType
from pyspark.sql.functions import udf

def func(Age, OREC):
  if Age == 64 or OREC == 0:
    return 65
  if Age < 0 :
    return 0
  return 0

func_udf = udf(func, IntegerType())
df = df_Final1.withColumn('new_column',func_udf(df_Final1['Age'], df_Final1['OREC']))

AttributeError: ignored

AttributeError: ignored

In [ ]:
df.toPandas().to_csv('Himanshu_AGE_Cal.csv')

**Please us the dataframe only for future codes- donot override above cells**
**Himanshu**

In [ ]:
# please write yor name who is working on below codes

## Demography Calculation

Two Input Files
  - Demography Variable Calculations.csv --> which has the Logic
  - The Demograhy_File_updated --> having the Age

Iterate over the Demography calculation file for each model year and model version to compute the demography variables and add it as new columns. Add 1s whereever the condition is met and 0s otherwise.

Output an excel file for each Model year and version containing the demograpdy variables. Total 10 excel files to be generated

In [ ]:
# Reading the file containing the logic
import pandas as pd
demo_file = pd.read_csv("Demography Variable Calculations.csv")
demo_file

     Year  ...                                              Logic
0    2020  ...  CASE WHEN (AGEF < 65 AND OREC <>'0') THEN 1 EL...
1    2020  ...  CASE WHEN (AGEF < 65 AND OREC <>'0') THEN 1 EL...
2    2021  ...  CASE WHEN (AGEF < 65 AND OREC <>'0') THEN 1 EL...
3    2021  ...  CASE WHEN (AGEF < 65 AND OREC <>'0') THEN 1 EL...
4    2020  ...  CASE WHEN ((SEX = '2') AND (AGEF BETWEEN 0 AND...
..    ...  ...                                                ...
737  2021  ...  CASE WHEN (SEX = '1' AND (AGEF BETWEEN 90 AND ...
738  2021  ...  CASE WHEN (SEX = '1' AND (AGEF > 94)) THEN 1 E...
739  2021  ...  CASE WHEN ((NEMCAID <=0) and ((CASE WHEN ((AGE...
740  2021  ...  CASE WHEN ( (NEMCAID <=0) and ((CASE WHEN ((AG...
741  2021  ...  CASE WHEN ((OREC='1') AND ((CASE WHEN (AGEF < ...

[742 rows x 4 columns]

In [ ]:
versions_demo = demo_file['Version'].unique().tolist()
versions_demo

['ESRD-P1', 'ESRD-P2', 'RX', 'V22', 'V24']

In [ ]:
years_demo= demo_file['Year'].unique().tolist()
years_demo

[2020, 2021]

In [ ]:
# Himanshu's DataFrame containing Age for Model Year 2020 and 2021 - converting it to Pandas 
df_age = df.toPandas()
df_age

     Person ID        DOB  Gender  OREC  ...  ESRD  MCAID  MODEL_YEAR  Age
0     95307787 1944-03-23       1     0  ...     1      1  2020-02-01   75
1     67928991 1930-05-29       2     0  ...     0      1  2020-02-02   89
2    124623786 1948-07-30       1     0  ...     0      0  2020-02-03   71
3     73717666 1935-06-12       2     0  ...     0      1  2020-02-04   84
4    111693065 1927-05-03       2     0  ...     0      0  2020-02-05   92
..         ...        ...     ...   ...  ...   ...    ...         ...  ...
995   40752647 1953-10-14       2     0  ...     1      1  2021-02-01   67
996  150788750 1953-10-15       1     0  ...     1      1  2021-02-01   67
997   87823398 1966-09-24       2     1  ...     0      1  2021-02-01   54
998   77246378 1953-09-26       2     0  ...     0      0  2021-02-01   67
999   20266147 1966-10-07       2     1  ...     0      1  2021-02-01   54

[1000 rows x 10 columns]

In [ ]:
# Extracting only the year part from Model_Year
df_age['Year'] = pd.DatetimeIndex(df_age['MODEL_YEAR']).year
df_age

     Person ID        DOB  Gender  OREC  ...  MCAID  MODEL_YEAR  Age  Year
0     95307787 1944-03-23       1     0  ...      1  2020-02-01   75  2020
1     67928991 1930-05-29       2     0  ...      1  2020-02-02   89  2020
2    124623786 1948-07-30       1     0  ...      0  2020-02-03   71  2020
3     73717666 1935-06-12       2     0  ...      1  2020-02-04   84  2020
4    111693065 1927-05-03       2     0  ...      0  2020-02-05   92  2020
..         ...        ...     ...   ...  ...    ...         ...  ...   ...
995   40752647 1953-10-14       2     0  ...      1  2021-02-01   67  2021
996  150788750 1953-10-15       1     0  ...      1  2021-02-01   67  2021
997   87823398 1966-09-24       2     1  ...      1  2021-02-01   54  2021
998   77246378 1953-09-26       2     0  ...      0  2021-02-01   67  2021
999   20266147 1966-10-07       2     1  ...      1  2021-02-01   54  2021

[1000 rows x 11 columns]

In [ ]:
# df = pd.read_excel ('Demography_File_updated.xlsx')
# df

In [ ]:
from pyspark.sql.functions import datediff, to_date, lit
from pyspark.sql.functions import col, expr, when
import pyspark.sql.functions as F
from pyspark.sql.types import *

for version in versions_demo:
  for model_year in years_demo:

    df1 = df_age.copy()
    data = spark.createDataFrame(df1)
    
    demo = (spark.read.format("csv").options(header="true").load("/content/Demography Variable Calculations.csv"))
    
    #demo_temp = df_DV.loc[(df_DV['Model Version']==str(version)) & (df_DV['Model Year']== year)]

    demo = demo.filter((demo['Version'] == version) & (demo['Year'] == model_year))
    data = data.where(F.col('Year') == model_year)
    data = data.withColumn("Version", lit(str(version)))

    for i in demo.collect():
      data = data.withColumn(i[2], expr(i[3]))

    data.toPandas().to_excel(str(version)+'_'+ str(model_year)+ str('DV')+ '.xlsx')

AnalysisException: ignored

### CC_Mapping
Required csv files for execution:
* CC Mapping.csv
* Diagnosis Input File.csv

Input is these 2 files. Output from this is 10 different mapped excel files for each model year and version

* For every model year and model version, we find HCC values from CC Mapping file where dignosis code in Diagnosis Input File is equal to diagnosis code in CC Mapping file.
* Obtain all unique HCC values present in CC mapping file.
* Generate new columns with column names as HCC values obtained from Step 2. 
* Add 1's to corresponding rows where HCC value = HCC column value 
* Output excel files for respective year and version containing the new mapped HCC columns.

In [ ]:
import pandas as pd
import numpy as np

df_diagnosis = pd.read_csv('Diagnosis Input File.csv')
df_diagnosis = spark.createDataFrame(df_diagnosis)

In [ ]:
#To See columns or Features names
df_diagnosis.printSchema()

root
 |-- PERSON ID: long (nullable = true)
 |-- DIAGNOSIS CODE: string (nullable = true)

In [ ]:
df_diagnosis.show(10)

+---------+--------------+
|PERSON ID|DIAGNOSIS CODE|
+---------+--------------+
| 95307787|       E1165  |
| 95307787|       E1122  |
| 95307787|       E230   |
| 95307787|       E119   |
| 95307787|       E1151  |
| 95307787|       E1121  |
| 95307787|       E1129  |
| 67928991|       I739   |
| 67928991|       J449   |
| 67928991|       I70213 |
+---------+--------------+
only showing top 10 rows

In [ ]:
from pyspark.sql.functions import length,col,trim
from pyspark.sql.functions import UserDefinedFunction
from pyspark.sql.types import *


df_diagnosis = df_diagnosis.withColumn('DIAGNOSIS CODE',trim(col("DIAGNOSIS CODE")))

In [ ]:
df_diagnosis.show(5)

+---------+--------------+
|PERSON ID|DIAGNOSIS CODE|
+---------+--------------+
| 95307787|         E1165|
| 95307787|         E1122|
| 95307787|          E230|
| 95307787|          E119|
| 95307787|         E1151|
+---------+--------------+
only showing top 5 rows

In [ ]:
#Loading Data
from pyspark.sql.types import StructType,StructField
from pyspark.sql.types import *
df_CC_mapping = pd.read_csv('CC Mapping.csv')


label_schema = StructType([
    StructField("YEAR", StringType()),
    StructField("VERSION", StringType()),
    StructField("DIAGNOSIS CODE", StringType()),
    StructField("CC", IntegerType())
])

df_CC_mapping = spark.createDataFrame(df_CC_mapping,schema= label_schema)

In [ ]:
df_CC_mapping.printSchema()

root
 |-- YEAR: string (nullable = true)
 |-- VERSION: string (nullable = true)
 |-- DIAGNOSIS CODE: string (nullable = true)
 |-- CC: integer (nullable = true)

In [ ]:
df_CC_mapping.show(10)

+----+-------+--------------+---+
|YEAR|VERSION|DIAGNOSIS CODE| CC|
+----+-------+--------------+---+
|2020|     RX|          A072|  5|
|2020|     RX|          A310|  5|
|2020|     RX|          A312|  5|
|2020|     RX|         A3681|186|
|2020|     RX|          A391| 41|
|2020|     RX|         A5204|206|
|2020|     RX|         A8100|112|
|2020|     RX|         A8101|112|
|2020|     RX|         A8109|112|
|2020|     RX|          A811|112|
+----+-------+--------------+---+
only showing top 10 rows

In [ ]:
model_years= [i.YEAR for i in df_CC_mapping.select('YEAR').distinct().collect()]
model_years

['2020', '2021']

In [ ]:
versions= [i.VERSION for i in df_CC_mapping.select('VERSION').distinct().collect()]
versions

['V24', 'V22', 'ESRD-P1', 'ESRD-P2', 'RX']

In [ ]:
import time

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql.functions import col
import numpy as np


start=time.time()
# for year in model_years:
#   for version in versions:
cond1= col('YEAR')== str(Choose_a_model_year)
cond2= col('VERSION')== str(Choose_a_model_version)
df_temp= df_CC_mapping.where(cond1 & cond2)



# df_temp.show(5)
df_temp= df_temp.toDF('YEAR','VERSION','D_DIAG CODE','CC')


h= df_temp.join(df_diagnosis,(df_diagnosis["DIAGNOSIS CODE"] == df_temp["D_DIAG CODE"]),how='right')  # Mtachin diagnosis codes from diagnosis input file and CC_mapping file

unique_HCC= sorted([i.CC for i in df_temp.select('CC').distinct().collect()]) #Finding all unique values of HCC and storing it in a list to generate HCC columns later

CC_list = h.select("CC").rdd.flatMap(lambda x: x).collect()

p_id = h.select("PERSON ID").rdd.flatMap(lambda x: x).collect()

diag_code= h.select("DIAGNOSIS CODE").rdd.flatMap(lambda x: x).collect()



df_main= pd.DataFrame()
df_main['PERSON ID']= p_id
df_main['DIAGNOSIS CODE']= diag_code 


df_main['HCC']= CC_list  # CC values obtained after mapping from Part 2.
df_main['HCC'] = list(df_main['HCC'].astype(np.float).astype("Int32"))

df_main['MODEL YEAR']= str(Choose_a_model_year)
df_main['Version']=str(Choose_a_model_version)

# df_main
if 'RX' in Choose_a_model_version:
  columns_df=[]
  for value in (unique_HCC):
    columns_df.append('RXHCC'+str(value)) # Example: RXHCC1,RXHCC2,RXHCC3 etc
  #print(columns_df)
  for colum in range(len(columns_df)):
    df_main[columns_df[colum]]=0  #adding zero's to every column 

  for v in range(len(df_main)):                         
    df_main.at[v,'RXHCC'+ str(df_main.iloc[v][2])]=1   # Adding 1's to columns. Example if df_main['HCC'][10]= 22, then adding a 1 in HCC10 column in the 9th row. 

  df_main = df_main.drop(df_main.columns[-1],axis=1)
  #df_main.to_excel(str(Choose_a_model_version)+'_'+str(Choose_a_model_year)+'.xlsx')


else:
  # Part 5: Creating new columns with column names as HCC values obtained from Part 4
  columns_df=[]
  for value in (unique_HCC):
    columns_df.append('HCC'+str(value)) # Example: HCC1,HCC2,HCC3 etc
  #print(columns_df)
  for colum in range(len(columns_df)):
    df_main[columns_df[colum]]=0  #adding zero's to every column 

  for v in range(len(df_main)):                         
    df_main.at[v,'HCC'+ str(df_main.iloc[v][2])]=1   # Adding 1's to columns. Example if df_main['HCC'][10]= 22, then adding a 1 in HCC10 column in the 9th row. 

  df_main = df_main.drop(df_main.columns[-1],axis=1)
  #df_main.to_excel(str(Choose_a_model_version)+'_'+str(Choose_a_model_year)+'.xlsx')

print(time.time()-start)

42.99209666252136

In [ ]:
df_main.head()

   PERSON ID DIAGNOSIS CODE  HCC MODEL YEAR  ... HCC176  HCC186  HCC188  HCC189
0   59011425           N179  135       2021  ...      0       0       0       0
1   71251632           N179  135       2021  ...      0       0       0       0
2  157598647           N179  135       2021  ...      0       0       0       0
3    1049180           N179  135       2021  ...      0       0       0       0
4  123742578           N179  135       2021  ...      0       0       0       0

[5 rows x 91 columns]

## **CC-Override**

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-3.0.2/spark-3.0.2-bin-hadoop2.7.tgz
!tar xf spark-3.0.2-bin-hadoop2.7.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.2-bin-hadoop2.7"
import findspark
findspark.init()
findspark.find()

from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config("spark.jars.packages", "com.crealytics:spark-excel_2.11:0.12.2")\
        .getOrCreate()

#.config('spark.ui.port', '4050')\

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import sys
sys.path.append('/content/gdrive/My Drive/Index/')

In [ ]:
 #loading libraries
import pandas as pd
import os
import pyspark.sql.functions as func

In [ ]:
#data_input = pd.read_excel('data.xlsx')
df = pd.read_excel('/content/drive/MyDrive/Index/data.xlsx')
df

       Unnamed: 0  Unnamed: 0_x  PERSON ID  ... HCC59  HCC60  LTIMCAID_O
0               0             0   59011425  ...   NaN    NaN         NaN
1               1            63   59011425  ...   NaN    NaN         NaN
2               2            64   59011425  ...   NaN    NaN         NaN
3               3           386   59011425  ...   NaN    NaN         NaN
4               4           452   59011425  ...   NaN    NaN         NaN
...           ...           ...        ...  ...   ...    ...         ...
20812        2005          1928  128707425  ...   0.0    0.0         1.0
20813        2006          1930   19804968  ...   0.0    0.0         1.0
20814        2007          1982  132178472  ...   0.0    0.0         1.0
20815        2008          1990  152542839  ...   0.0    0.0         1.0
20816        2009          2007   92941551  ...   1.0    0.0         1.0

[20817 rows x 286 columns]

In [ ]:
df.rename(columns={'DIAGNOSIS CODE':'DIAG', 'Gender':'SEX', 'Age':'AGEF'}, inplace = True)

In [ ]:
df.HCC = df.HCC.astype(str)

In [ ]:
dataCC = pd.read_csv("/content/drive/MyDrive/Index/CC Override Rules.csv")
#dataCC = pd.read_csv("CC Override Rules.csv")

dataCC

    MODEL YEAR  ...                                    DIAGNOSIS CODES
0         2020  ...                                      ('D66','D67')
1         2020  ...  ('J410','J411','J418','J42','J430','J431','J43...
2         2020  ...                                          ('F3481')
3         2020  ...                                          ('F3481')
4         2020  ...                                      ('D66','D67')
5         2020  ...  ('J410','J411','J418','J42','J430','J431','J43...
6         2020  ...                                          ('F3481')
7         2020  ...                                      ('D66','D67')
8         2020  ...  ('J410','J411','J418','J42','J430','J431','J43...
9         2020  ...                                          ('F3481')
10        2020  ...                                      ('D66','D67')
11        2020  ...  ('J410','J411','J418','J42','J430','J431','J43...
12        2020  ...                                          ('F3481')
13        2021  ...                                      ('D66','D67')
14        2021  ...  ('J410','J411','J418','J42','J430','J431','J43...
15        2021  ...                                          ('F3481')
16        2021  ...                                          ('F3481')
17        2021  ...                                      ('D66','D67')
18        2021  ...  ('J410','J411','J418','J42','J430','J431','J43...
19        2021  ...                                          ('F3481')
20        2021  ...                                      ('D66','D67')
21        2021  ...  ('J410','J411','J418','J42','J430','J431','J43...
22        2021  ...                                          ('F3481')
23        2021  ...                                      ('D66','D67')
24        2021  ...  ('J410','J411','J418','J42','J430','J431','J43...
25        2021  ...                                          ('F3481')

[26 rows x 5 columns]

In [ ]:
versions = dataCC['VERSION'].unique().tolist()
versions

['ESRD-P1', 'RX', 'V22', 'V24', 'ESRD-P2']

In [ ]:
years = dataCC['MODEL YEAR'].unique().tolist()
years

[2020, 2021]

In [ ]:
from pyspark.sql.functions import datediff, to_date, lit
from pyspark.sql.functions import col, expr, when
import pyspark.sql.functions as F
from pyspark.sql.types import *

In [ ]:

data = (spark.read.format("csv").options(header="true").load("/content/drive/MyDrive/Index/data.csv"))

In [ ]:
# overide_df = (spark.read.format("csv").options(header="true").load("/content/CC Override Rules.csv"))

overide_df = (spark.read.format("csv").options(header="true").load("/content/drive/MyDrive/Index/CC Override Rules.csv"))

In [ ]:
df1 = df.copy()
data = spark.createDataFrame(df1)
    
overide_df = (spark.read.format("csv").options(header="true").load("/content/drive/MyDrive/Index/CC Override Rules.csv"))
overide_df=overide_df.withColumnRenamed("MODEL YEAR","MODEL_YEAR")
overide_df = overide_df.filter((overide_df.VERSION.isin(versions))&(overide_df.MODEL_YEAR.isin(years)))
for i in overide_df.collect():
  data = data.withColumn('HCC', expr(i[3]))
data.toPandas().to_excel('Merged_CCOveride.xlsx')

In [ ]:
df_CCmerged = pd.read_excel('/content/drive/MyDrive/Index/Merged_CCOveride.xlsx')
df_CCmerged

KeyboardInterrupt: ignored

HCC_HIERARCHY

In [ ]:
hcc_data = pd.read_excel('/content/gdrive/My Drive/HCC Hierarchy (1).xlsx')
hcc_data = hcc_data.sort_values('HIERARCHY_LEVEL', ascending=False)

In [ ]:
data1 = spark.createDataFrame(hcc_data)
data1.show()

In [ ]:
versions = hcc_data['MODEL_VRSN'].unique()
years = hcc_data['MODEL_YR'].unique()

In [ ]:
from pyspark.sql import functions as F

In [ ]:
lis = {}
for k in range(len(years)):
  for l in range(len(versions)):
    var = str(years[k]) + '_' +  str(versions[l])
    lis[var] = []
    data_2020_test = hcc_data[(hcc_data['MODEL_YR'] == years[k]) & (hcc_data['MODEL_VRSN'] == versions[l])]
    merged_cc_2020_test = df_CCmerged[(df_CCmerged['MODEL_YEAR'] == years[k]) & (df_CCmerged['Version'] == versions[l]) ]
    merged_cc_2020_spark_test = spark.createDataFrame(merged_cc_2020_test)
    for i in range(len(data_2020_test)):
      merged_cc_2020_spark1 = 0
      if list(data_2020_test['HIGHER_HCC'])[i] in merged_cc_2020_spark_test.columns:
        merged_cc_2020_spark1 = merged_cc_2020_spark_test.withColumn(list(data_2020_test['LOWER_HCC'])[i], F.when((F.col(list(data_2020_test['HIGHER_HCC'])[i])==1) & (F.col(list(data_2020_test['LOWER_HCC'])[i])== 1) & (F.col('VERSION')== list(data_2020_test['MODEL_VRSN'])[i]) ,0).otherwise(F.col(list(data_2020_test['LOWER_HCC'])[i])))
        # print(i)
    lis[var].append(merged_cc_2020_spark1)

In [ ]:
for i in lis.keys():
  print(i)
  if lis[i][0]!=0:  
    frame = lis[i][0]
    frame = frame.toPandas()
    frame.to_excel('/content/gdrive/My Drive/' + str(i) + '.xlsx')